
h3
{
    font-weight: bold;
    color: #765;
}

.tab-row
{
    margin: 0px;
}

div.floorpanel div.tab-row
{
    float: left;
    width: 100%;
    background: #DAE0D2 url( "tabs/bg.gif" ) repeat-x bottom;
    line-height: normal;
}

div.floorpanel div.tab-row ul
{
    margin: 0;
    padding: 10px 10px 0;
    list-style: none;
}

div.floorpanel div.tab-row li
{
    float: left;
    background: url( "tabs/left.gif" ) no-repeat left top;
    margin: 0;
    padding: 0 0 0 9px;
}

div.floorpanel div.tab-row a
{
    display: block;
    background: url( "tabs/right.gif" ) no-repeat right top;
    padding: 5px 15px 4px 6px;
    text-decoration: none;
    font-weight: bold;
    color: #765;
    white-space: nowrap;
}

div.floorpanel div.tab-row a:hover
{
    color: #333;
}

div.floorpanel div.tab-row li.selected
{
    background-image: url( "tabs/left_on.gif" );
}

div.floorpanel div.tab-row li.selected a
{
    background-image: url( "tabs/right_on.gif" );
    color: #333;
    padding-bottom: 5px;
}

.floortable
{
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 3px;
}

.franchisee-row
{
    display: block;
    border: none;
}

.franchisee-item
{
    display: inline;
}

.franchisee-item .name
{
    font-weight:bold;
    display: block;
    background-color: #dbe1d3;
}

.franchisee-item .name input
{
    border: 1px solid green;
    font-weight:bold;
    display: block;
    background-color: #dbe1d3;
}

.franchisee-item .description
{
    display: block;
    padding-left: 4em;
    background-color: #f5f7f2;
}

.franchisee-item .description input
{
    display: block;
    border: 1px solid green;
    padding-left: 4em;
    background-color: #f5f7f2;
}

.history-link
{
    border-left: 2px #f5f7f2 solid;
    border-top: 2px #f5f7f2 solid;
    border-right: 2px #765 solid;
    border-bottom: 2px #765 solid;
    background-color: #dbe1d3;
    padding: 4px;
    color: #765;
    font-weight: bold;
    display: inline;
    
}