<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css"></link>
 </head>
<body>
    <h3><span wicket:id="storeName">StoreName goes here</span></h3>
    <img src="tabs/left_on.gif" alt="" />
    <p>
        <a wicket:id="aboutlink">A PageLink to the About page goes here.</a>
    </p>
    <p>
        <div wicket:id="floors" class="floorpanel" ></div>
    </p>
</body>
</html>