<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="deselected_workspace_plugins" value="org.rsp.jar.commons_validator,org.rsp.sample.usage.struts,org.rsp.jar.commons_beanutils,org.rsp.jar.struts_taglib,org.rsp.sample.usage.resource,org.rsp.sample.usage.servlet,org.rsp.jar.struts_action,org.rsp.jar.commons_lang,org.rsp.framework.struts,org.rsp.jar.commons_digester,org.rsp.jar.struts_tiles,org.rsp.sample.usage.struts13,org.rsp.jar.commons_collections,org.rsp.jar.displaytag,org.eclipse.equinox.servlet.httpservice,org.eclipse.equinox.servlet.ext,org.rsp.jar.oro,org.rsp.sample.usage.customtaglib,org.rsp.jar.antlr,org.eclipse.equinox.servlet.bridge,org.rsp.jar.commons_fileupload,org.rsp.jar.commons_chain,org.rsp.sample.usage.jsp,org.rsp.jar.itext"/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-console"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="target_bundles" value="org.eclipse.osgi@:,org.eclipse.osgi.services@default:default,org.ungoverned.osgi.bundle.http@default:default"/>
<stringAttribute key="workspace_bundles" value="org.ops4j.pax.wicket@default:default,org.ops4j.pax.wicket.test@default:default"/>
<booleanAttribute key="default_auto_start" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="configLocation" value=""/>
</launchConfiguration>
