<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>

<body>
    <h3><span wicket:id="storeName">StoreName goes here</span></h3>

    <div class="history" wicket:id="border">
        <span wicket:id="history">The Department Store history goes here.</span>
    </div>

    <br/>
    <hr size="2" align="left" width="50%" color="black">
    <a wicket:id="displayAllBundles">All bundles</a>
    <a wicket:id="displayActiveBundles">Active bundles</a>
    <a wicket:id="displayResolvedBundles">Resolved bundles</a>
    <hr size="2" align="left" width="50%" color="black">

    <div wicket:id="container">
        <h4 wicket:id="displayTitle">[Title Here]</h4>
        <ul>
            <li wicket:id="bundles"></li>
        </ul>
    </div>
</body>
</html>